DISCORD_TOKEN=replace_with_rotated_discord_bot_token
ANTHROPIC_KEY=replace_with_rotated_anthropic_api_key
DISCORD_SNIPE_CHANNEL_ID=1497532086335311883
DISCORD_STARTER_CHANNEL_ID=1497532177359962112
DISCORD_NEAR_ENTRY_CHANNEL_ID=1497532274470551693
